@use "../abstract/mixins" as *;

.compare-tray {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.3rem 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr) 0.5fr 0.5fr;
  align-items: center;
  background-color: var(--bg-neutral-500);
  z-index: 999;
  box-shadow: 0 4px 12px 4px var(--color-gray);
  transition: transform 0.3s;
  transform: translateY(100%);

  &.open {
    transform: translateY(0);
  }

  @include respond(tablet) {
    row-gap: 0.3rem;
  }

  @include respond(tablet) {
    grid-template-columns: repeat(4, 1fr) 0.1fr 0.2fr;
  }

  @include respond(mobile) {
    font-size: 12px;
    grid-template-columns: repeat(2, 1fr) 0.3fr;
  }

  &__message {
    font-size: 14px;
    letter-spacing: 1px;
    color: var(--color-white);
    background-color: var(--color-pink);
    place-items: center;
    position: absolute;
    bottom: 100%;
    left: 50%;
    width: 300px;
    padding-block: 0.5rem;
    border-radius: 5px;
    transform: translate(-50%, 100%);

    opacity: 0;
    visibility: hidden;

    &.show {
      animation: showMsg 2s ease;
    }

    @include respond(mobile) {
      display: none;
    }
  }

  &__header {
    @include respond(mobile) {
      grid-column: 1 / span 1;
      justify-self: start;
      margin-bottom: 0;
    }
  }

  &__counter {
    display: inline-block;

    &.full {
      animation: shake 2.5s ease;
    }
  }

  @keyframes shake {
    0% {
      color: var(--color-pink);
      transform: rotate(0deg);
    }

    15% {
      transform: rotate(-10deg);
    }

    30% {
      transform: rotate(10deg);
    }

    45% {
      transform: rotate(-8deg);
    }

    60% {
      transform: rotate(8deg);
    }

    75% {
      color: var(--color-pink);
      transform: rotate(-4deg);
    }

    90% {
      transform: rotate(4deg);
    }

    100% {
      color: var(--color-black);
      transform: rotate(0deg);
    }
  }

  @keyframes showMsg {
    0% {
      opacity: 0;
      transform: translate(-50%, 100%);
    }

    20% {
      opacity: 1;
      visibility: visible;
      transform: translate(-50%, -5%);
    }

    80% {
      opacity: 1;
      visibility: visible;
      transform: translate(-50%, -5%);
    }

    100% {
      opacity: 0;
      visibility: hidden;
      transform: translate(-50%, -5%);
    }
  }

  &__slots {
    grid-column: 2 / span 3;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    @include respond(mobile) {
      display: none;
    }
  }

  &__product {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;

    @include respond(tablet) {
      gap: 0.5rem;
    }

    img {
      width: 65px;
    }
  }

  &__remove {
    align-self: flex-start;
    justify-content: start;
  }

  &__actions {
    grid-column: 5 / span 1;
    text-align: center;

    @include respond(mobile) {
      grid-column: 2 / span 1;
      display: flex;
      gap: 1rem;
    }

    &-compare,
    &-remove {
      padding: 0.1rem 0.3rem;

      @include respond(mobile) {
        font-size: 12px;
      }
    }

    &-remove {
      display: none;

      @include respond(mobile) {
        display: inline-block;
      }
    }
  }

  &__close {
    color: var(--color-accent);
    grid-column: 6 / span 1;
    justify-self: end;
    align-self: start;

    @include respond(mobile) {
      position: static;
      grid-column: 3 / span 1;
      text-align: right;
    }
  }
}
