@use "../abstract/mixins" as *;

.toolbar {
  background-color: var(--bg-neutral-400);
  margin-bottom: 3.5rem;

  &__inner {
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    align-items: center;
    justify-content: center;
    padding-block: 1.5rem;

    @include respond(mobile) {
      grid-template-columns: 1fr;
    }
  }

  &__group {
    display: inline-flex;
    gap: 1.5rem;
    align-items: center;

    &--start {
      padding-right: 2rem;
      justify-self: self-start;
      border-right: 2px solid var(--color-gray-dark);

      @include respond(mobile) {
        border: none;
        margin-bottom: 1rem;
        padding: 0;
        justify-self: start;
        padding-inline: 0.6rem;
      }
    }

    &--center {
      padding-left: 2rem;
      justify-self: self-start;

      @include respond(mobile) {
        display: none;
      }
    }

    &--end {
      justify-self: self-end;

      @include respond(mobile) {
        justify-self: center;
      }
    }
  }

  &__control {
    display: flex;
    align-items: center;

    @include respond(desktop) {
      flex-direction: column;
      align-items: start;
    }
  }

  &__label {
    font-size: 20px;

    @include respond(desktop) {
      display: inline-block;
      margin-bottom: 0.5rem;
    }

    @include respond(mobile) {
      display: none;
    }
  }

  &__btn {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;

    &--grid-4 svg,
    &--grid-2 svg {
      width: 26px;
      height: 26px;

      @include respond(tablet) {
        display: none;
      }
    }

    &--text {
      @include respond(tablet) {
        display: none;
      }
    }
  }

  &__select {
    font-size: 20px;
    color: var(--color-gray-light);
    background-color: var(--color-white);
    border: none;
    padding: 0.6rem;
    cursor: pointer;
    border: 2px solid transparent;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    &:focus {
      outline: none;
      border: 2px solid #b88e2f;
    }

    &--sort {
      @include respond(desktop) {
        width: 100%;
      }

      @include respond(mobile) {
        width: auto;
      }
    }
  }
}
