@use "../abstract/mixins" as *;

.features {
  background-color: var(--bg-neutral-400);
  margin-top: var(--space-section);
  padding-block: 6rem;

  &__inner {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;

    @include respond(tablet) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-content: space-between;
    }

    @include respond(small) {
      // grid-template-columns: 1fr;
      text-align: center;
    }
  }
}
