.breadcrumb {
  background-color: var(--bg-neutral-400);
  margin-bottom: var(--space-section);
  padding-block: 1.5rem;

  &__nav {
    display: flex;
    gap: 1rem;
  }

  &__link {
    color: var(--color-gray-light);
  }

  &__product {
    border-left: 1px solid var(--color-gray-light);
    padding-left: 1.5rem;
  }
}
