@use "../../abstract/mixins" as *;

.products {
  &__main-title {
    margin-bottom: var(--space-heading-lg);
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--gap-lg);

    @include respond(tablet) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include respond(small) {
      grid-template-columns: 1fr;
      gap: var(--gap-xs);
    }

    &--2 {
      grid-template-columns: repeat(2, 1fr);
      max-width: 600px;
      margin-inline: auto;
    }
  }

  &__btn-load-more {
    justify-self: center;
    grid-column: 1/-1;
  }

  &__btn-group {
    justify-self: center;
    grid-column: 1/-1;
    display: flex;
    gap: 2rem;
  }

  &__btn {
    color: var(--color-black);
    border-radius: 10px;
    padding: 0.6rem 1.2rem;
    background-color: var(--bg-neutral-400);

    &--active {
      color: var(--color-white);
      background-color: var(--color-accent);
    }
  }
}
