@use "../../abstract/mixins" as *;

.rooms {
  background-color: var(--bg-neutral-200);
  padding-block: 3rem;
  overflow: hidden;

  &__content {
    align-self: center;
  }

  &__inner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    // margin-left: max(1rem, calc((100vw - 75rem)));

    @include respond(tablet) {
      grid-template-columns: 1fr 1fr;
    }

    @include respond(small) {
      grid-template-columns: 1fr;
    }
  }

  &__title {
    margin-bottom: 1.5rem;
  }

  &__text {
    color: var(--color-black-light);
    font-weight: 500;
    margin-bottom: 1.5rem;
  }

  &__main {
    position: relative;
    z-index: 9;

    @include respond(tablet) {
      display: none;
    }
  }

  &__overlay {
    color: var(--color-black-light);
    font-weight: 500;
    position: absolute;
    bottom: 3.9rem;
    left: 0;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 1rem;

    display: flex;
    gap: 1rem;
  }

  &__overlay-title {
    font-size: 1.75rem;
  }

  &__arrow {
    background-color: var(--color-accent);
    padding: 0.5rem;
    display: flex;
  }

  &__slider {
    position: relative;

    &-btn {
      position: absolute;
      top: calc(50% - 64px);
      transform: translateY(-50%);

      @include respond(tablet) {
        top: calc(50% - 40px);
      }

      &--right {
        right: -1rem;

        @include respond(tablet) {
          right: -1.5rem;
        }

        @include respond(mobile) {
          right: -1.5rem;
        }

        @include respond(small) {
          right: -1rem;
        }
      }
      &--left {
        left: -1rem;

        @include respond(small) {
          left: -1rem;
        }
      }
    }
  }

  &__slider-viewport {
    width: 100%;
    overflow: hidden;
  }

  &__slider-track {
    display: flex;
    gap: 2rem;
    margin-bottom: 40px;
    transition: transform 1s ease;
  }

  &__slide {
    flex: 0 0 100%;

    @include respond(tablet) {
      flex-basis: 100%;
    }

    img {
      height: 100%;
    }
  }

  &__slide img {
    width: 100%;

    object-fit: cover;
    display: block;
  }

  &__dot {
    display: inline-flex;
    width: 24px;
    height: 24px;
    cursor: pointer;
    position: relative;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: transparent;

    &--active {
      border: 1px solid var(--color-accent);
    }

    &--active .rooms__dot-inner {
      background-color: var(--color-gray-light);
    }

    &.rooms__dot--active .rooms__dot-inner {
      background-color: var(--color-accent);
    }
  }

  &__dot-inner {
    display: inline-flex;
    background-color: var(--color-gray-light);
    width: 12px;
    height: 12px;
    border-radius: 50%;
  }
}
