@use "../../abstract/mixins" as *;

.wishlist-page {
  &__inner {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-between;
    gap: 2rem;

    @include respond(desktop) {
      gap: 3rem;
    }
  }

  &__items-wrapper {
    @include respond(desktop) {
      grid-row: 1 / span 1;
      grid-column: 1 / -1;

      overflow-x: scroll;
    }
  }

  &__items {
    min-width: 600px;
  }

  &__toggle-min-width {
    min-width: auto;
    text-align: center;
  }

  &__headers {
    font-weight: 500;
    background-color: var(--bg-neutral-500);
    padding: 1rem;
    margin-bottom: 3rem;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: start;
    gap: 1rem;
  }

  &__item-wrapp {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__item {
    color: var(--color-gray-light);
    font-weight: 500;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: start;
    gap: 1rem;
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 1rem;

    img {
      width: 65px;
      border-radius: 8px;
    }
  }

  &__remove-btn {
    color: var(--color-accent);
  }
  &__price {
    &-label {
      display: none;
    }
  }

  &__empty {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    @include respond(mobile) {
      flex-direction: column;
      gap: 1rem;
    }
    a {
      align-self: center;
    }
  }
}
