/****************************
****** CSS VARIABLES *******
*****************************/

:root {
  /*****FONT*****/
  --ff-primary:
    "Poppins", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;

  --fs-hero: clamp(2.25rem, 5vw, 3.25rem); /*52px*/

  --fs-page: clamp(2rem, 3.5vw, 3rem); /*48px*/
  --fs-page-product: clamp(1.875rem, 3vw, 2.625rem); /*42px*/
  --fs-section: clamp(1.75rem, 2.5vw, 2.5rem); /*40px*/
  --fs-section-small: clamp(1.5rem, 3vw, 2rem); /*32px*/

  --fs-ui: clamp(1.125rem, 1vw, 1.5rem); /*24px*/

  --fs-body: clamp(0.9375rem, 0.7vw, 1rem); /*16px*/
  --fs-body-lg: clamp(1rem, 0.85vw, 1.125rem); /*18px*/
  --fs-body-xl: clamp(1.125rem, 0.9vw, 1.25rem); /* 18px → 20px */

  --fs-sm: clamp(0.8125rem, 0.6vw, 0.875rem); /*14px*/
  --fs-xs: clamp(0.75rem, 0.5vw, 0.8125rem); /*13px*/

  --radius-sm: 12px;
  --radius-xl: 50%;

  /*****SPACING*****/
  --gap-xs: 1rem; /*16px*/
  --gap-sm: 1.25rem; /*20px*/
  --gap-md: 1.5rem; /*24px*/
  --gap-lg: 2rem; /*32px*/
  --gap-xl: 2.5rem; /*40px*/

  /*Section spacing*/
  --space-section: 3.5rem; /* ~56px */

  /*Section, Heading spacing*/
  --space-heading-sm: 2rem; /* 32px */
  --space-heading-lg: 4rem; /* 64px */

  /******BORDER*****/
  --border-color-light: #{rgba(#b0b0b0, 0.5)};

  /*****COLORS*****/

  /* Neutral backgrounds */

  --bg-neutral-100: #f4f5f7; /* page / light gray */
  --bg-neutral-200: #fcf8f3; /* soft section */
  --bg-neutral-300: #faf3ea; /* cards */
  --bg-neutral-400: #f9f1e7; /* warm section */
  --bg-neutral-500: #fff3e3;

  /*****BUTTONS*****/
  --color-accent: #b88e2f;
  --color-white: #ffffff;
  --color-black: #333333;
  --color-black-light: #3a3a3a;
  --color-gray: #666666;
  --color-gray-dark: #898989;
  --color-gray-light: #b0b0b0;
  --color-pink: #e97171;
  --color-green: #2ec1ac;
}

/****************************
****** SASS VARIABLES *******
*****************************/

/*****BREAKPOINTS*****/

$breakpoints: (
  //1200px
  desktop: 75em,
  // 992 px
  tablet: 62em,
  // 768px
  mobile: 48em,
  // 576px
  small: 36em
);
